<!DOCTYPE html>
<html>

<head>
  <%- include('./includes/head', { siteTitle: `${post.title} | ${themeConfig.siteName}` }) %>
  <script type='text/javascript' src='<%= themeConfig.domain %>/media/js/imageinit.js'></script>
  <script src=""></script>
</head>

<body class="home blog custom-background round-avatars">
  <!-- <body class="home blog custom-background round-avatars" itemscope="" itemtype="http://schema.org/Organization" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0"></body> -->
  <%- include('./includes/header') %>
  <!-- 图片放大开始 -->

  <!-- 图片放大结束 -->
  <div id="main" class="content">
    <!-- 文章开始 -->
    <div class="container">
      <article
        class="js-gallery post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
        <style>
          .container {
            padding: 10px 0px;
          }

          .post {
            margin: 0 auto
          }
        </style>
        <section class="post_content">
          <header class="post_header">
            <h1 class="post_title yellow-under"><%= post.title %></h1>
          </header>
          <div class="post-body js-gallery">
            <%- post.content %>

          </div>
          <!-- Tips开始 -->
          <% if(site.customConfig.tips){ %>
          <hr>
          <div class="alerts success"><i class="fa fa-warning"><strong>NOTE:</strong></i><%= site.customConfig.tips %>
          </div>

          <% } %>
          <!-- Tips结束 -->
          <!-- 文章底部信息开始 -->
          <div class="meta split split--responsive cf">
            <div class="split__title">
              <time><%= post.dateFormat %></time>
              <% post.tags.forEach(function(tag) { %>
              <a href="<%= tag.link %>" class="autotag">
                #<%= tag.name %>
              </a>
              <% }); %>
            </div>
            <div id="social-share"><span class="entypo-share"><i class="fa fa-share-square-o"></i>分享</span></div>
            <div class="slide">
              <a class="btn-slide" title="switch down"><i class="fa fa-chevron-down"></i>折叠评论区</a>
            </div>
          </div>
          <!-- 文章底部信息结束 -->
        </section>
      </article>
    </div>
    <!-- 分享开始 -->
    <svg id="upTriangleColor" width="100%" height="40" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L50 100 L100 0 Z"></path>
    </svg>
    <div id="social">
      <ul>
        <li>
          <a id="qzoneShare" href="javascript:void(0)" target="_blank"><i class="fa fa-tencent-weibo fa-lg"></i></a>
        </li>
        <li>
          <a id="weiboShare" href="javascript:void(0)" title="weibo" target="_blank"><i
              class="fa fa-weibo fa-lg"></i></a>
        </li>
        <li>
          <a id="qqShare" href="javascript:void(0)" target="_blank"><i class="fa fa-qq fa-lg"></i></a>
        </li>
      </ul>
    </div>
    <!-- 分享结束 -->
    <!-- 文章结束 -->

    <!-- 上下一篇文章开始 -->
    <!-- 如果有图片展示文章封面，如果没有图片展示默认图片 -->
    <div class="navpost-part">
      <div id="NextPrevPosts" style="display: block;">
        <% if (post.prevPost && !post.hideInList) { %>
        <div class="prev aos-init aos-animate" data-aos="slide-right" data-aos-delay="1.5s">
          <div class="arrow"><i class="fa fa-angle-double-left"></i>
          </div>
          <div class="preview">
            <% if(post.prevPost.feature){ %>
            <div class="pull-left featuredImg" style="background-image:url(<%= post.prevPost.feature %>);"></div>
            <% } else { %>
            <div class="pull-left featuredImg"
              style="background-image:url(<%= themeConfig.domain %>/media/images/no-image.png);"></div>
            <% } %>
            <a class="pull-left preview-content bold"
              href="<%= post.prevPost.link %>"><span><%= post.prevPost.title %></span></a>
          </div>
        </div>
        <% } %>
        <% if (post.nextPost && !post.hideInList) { %>
        <div class="next aos-init aos-animate" data-aos="slide-left" data-aos-delay="1.5s">
          <div class="arrow"><i class="fa fa-angle-double-right"></i></div>
          <div class="preview">
            <% if(post.nextPost.feature){ %>
            <div class="pull-left featuredImg" style="background-image:url(<%= post.nextPost.feature %>);"></div>
            <% } else { %>
            <div class="pull-left featuredImg"
              style="background-image:url(<%= themeConfig.domain %>/media/images/no-image.png);"></div>
            <% } %>
            <a class="pull-right preview-content bold" href="<%= post.nextPost.link %>"><span>
                <%= post.nextPost.title %></span></a>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <!-- 上下一篇文章结束 -->
    <!-- 评论区开始 -->
    <%- include('./includes/comment') %>
    <!-- 评论区结束 -->
  </div>
  <%- include('./includes/footer') %>
  <%- include('./includes/share') %>
</body>

</html>